@import "./nimation.css"; /*importing my animation file*/

:root {
  /* css variables */
  --primary-color: #ffc957;
  --secondary-color: #fff;
  --accent-color: green;
  --gradient-primary-color: var(--primary-color);
  --gradient-secondary-color: var(--secondary-color);
  --font-color1: #333;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  color: var(--font-color1);
  font-family: "Segoe UI", Tahoma, sans-serif;
}

/* Reusable Classes */
.hidden {
  display: none;
}
.overflowY-stop {
  overflow-y: hidden;
}
.heading-primary {
  font-size: 10rem;
}
.heading-secondary {
  font-size: 5rem;
}
.heading-tertiary {
  font-size: 4rem;
}

.grid-container {
  display: grid;
}
.grid--2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4 {
  grid-template-columns: repeat(4, 1fr);
}

/* //////////////////////// */
/* HEADER */
.header {
  position: fixed;
  z-index: 999;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  padding: 1rem 2rem;
  background-color: #fff1d1;
}
.logo-box {
}
.logo {
  font-size: 8rem;
  color: var(--primary-color);
}
.open-box {
}
.menu-open {
  font-size: 7rem;
}
.menu-close {
  font-size: 6rem;
}
/* NAVBAR */
.nav-container {
  background-color: var(--primary-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute; /*child of body*/
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 1000;

  transition: all 0.5s ease-in;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: translateX(100%);
}
.nav-show {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
}
.nav-list {
  list-style: none;
  text-align: center;
}
.nav-listitem {
  display: inline-block;
  color: var(--font-color2);
  font-size: 3.6rem;
  margin-top: 1.5rem;
  text-decoration: none;

  transition: 0.3s all ease-out;
}
.nav-listitem:hover {
  box-shadow: 0 5px 10px #ffc957;
  color: var(--secondary-color);
  transform: scale(1.1);
}
.close-box {
  text-align: right;
  padding-right: 2rem;

  position: absolute;
  top: 2.5%;
  right: 2.5%;
}

/* //////////////////////// */
/* SECTIONS */
main {
  position: absolute;
  left: 0;
  top: 11vh;
  width: 100vw;
}
section {
  min-height: 100vh;
  width: 100vw;
  border: 1px solid red;
}

/* **** */
.s-1 {
  padding: 10rem 3rem;
  text-align: center;
  background-image: linear-gradient(
    to right,
    var(--gradient-secondary-color) 40%,
    var(--gradient-primary-color)
  );

  .on-point {
    font-size: 5rem;
    text-align: left;
    margin: 2rem 0;
  }
  .gradient-line {
    margin: auto;
    margin-top: 5rem;
    width: 60rem;
    height: 4rem;
    background-image: linear-gradient(
      to right,
      var(--gradient-primary-color),
      var(--gradient-secondary-color)
    );
  }
}

.s-2 {
  .img-container {
    width: 100%;
    height: 60vh;
    background: blue;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .content-container {
    height: 40vh;
    background-color: #ffc957;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.s-3 {
  padding: 10rem 5rem;
  background-image: linear-gradient(
    to right,
    var(--gradient-primary-color),
    var(--gradient-secondary-color),
    var(--gradient-secondary-color),
    var(--gradient-secondary-color)
  );
  background: red;
  .grid-container {
    column-gap: 5rem;
  }
  .s-3__imgbox {
    background-color: blue;
    height: 50rem;
    .s3-img {
      height: 100%;
    }
  }
  .s-3__titlebox,
  .s-3__theorybox {
    padding: 10rem 0;
  }
  .side-heading {
    font-size: 3.2rem;
  }
  .side-description {
    font-size: 2.6rem;
    font-weight: 500;
    margin-top: 2.5rem;
  }
}

.s-4 {
  padding: 5rem 0;
  .s-4__imgbox {
    height: 50vh;
    width: 100%;
    background-color: blue;
    .s4-img {
      height: 100%;
      width: 100%;
    }
  }
  .s-4__content-container {
    padding: 0 10rem;
    min-height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;

    .s-4__titlebox,
    .s-4__theorybox {
      width: 50%;
    }
    .side-heading {
      margin-top: 1rem;
      font-size: 2rem;
      font-weight: 700;
    }
    .side-description {
      margin-top: 2.5rem;
      font-size: 1.8rem;
      font-weight: 500;
    }
  }
}

.s-5 {
  .top-container {
    padding: 5rem;
    background-color: #ffc957;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .leftpart {
      width: 40%;
      .s-5-logo {
      }
    }
    .rightpart {
      width: 60%;
      .description {
        margin-top: 2rem;
        font-size: 2.4rem;
      }
    }
  }
  .bottom-container {
    padding: 5rem;
    .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 5rem;
      .card__image {
        width: 5rem;
      }
      .card__title {
        font-size: 2.4rem;
        margin-top: 2rem;
      }
      .card__description {
        font-size: 2rem;
        margin-top: 1rem;
      }
    }
  }
}

.s-6 {
  background-image: linear-gradient(
    to right,
    #ffc957 0 5%,
    var(--secondary-color) 5% 70%,
    #ffc957 70% 100%
  );
  display: flex;

  .leftpart {
    width: 70%;
    padding: 5rem 15rem;
    h3 {
      margin-top: 1rem;
      font-weight: 400;
    }
    .cards {
      padding: 6rem 0;
      column-gap: 5rem;
      .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .card__image {
          width: 8rem;
          margin: 0 auto;
        }
        .card__title {
          font-size: 2.4rem;
          margin-top: 2rem;
        }
        .card__description {
          font-size: 2rem;
          margin-top: 2rem;
        }
      }
    }
  }
  .rightpart {
    width: 30%;
    align-self: center;
    .description1 {
      color: var(--secondary-color);
      font-size: 2.6rem;
      padding: 1rem 2rem;
    }
    .description2 {
      color: var(--font-color2);
      font-size: 2.4rem;
      padding: 1rem 2rem;
    }
  }
}

.s-7 {
  background-image: linear-gradient(
    to right,
    #ffc957 0 5%,
    var(--secondary-color) 5% 100%
  );
  padding: 5rem 0;

  h3 {
    text-align: center;
    font-weight: 500;
  }

  .content-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5rem;

    .leftpart {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 5rem;
      width: 40%;
      h3 {
        text-align: left;
        font-size: 4rem;
        font-weight: 600;
      }
      h4 {
        font-size: 3rem;
        font-weight: 500;
        margin-top: 2rem;
      }
      p {
        font-size: 2.6rem;
        margin-top: 2rem;
      }
    }
    .rightpart {
      background-color: blue;
      width: 50%;
      height: 50rem;
      .s7-img {
        height: 100%;
        width: 100%;
      }
    }
  }
}
