:root {
  /* css variables */
  --primary-color: #fff;
  --secondary-color: #ffc957;
  --accent-color: green;
  --gradient-primary-color: var(--primary-color);
  --gradient-secondary-color: var(--secondary-color);
  --font-color1: violet;
  --font-color2: #fff;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  color: var(--font-color1);
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Reusable Classes */
.hidden {
  display: none;
}
.overflow-stop {
  overflow: hidden;
}
.heading-primary {
  font-size: 4rem;
  color: #333;
}
.heading-secondary {
  font-size: 3rem;
  color: #333;
}
.heading-tertiary {
  font-size: 2rem;
  color: #333;
}

/* //////////////////////// */
/* HEADER */
.header {
  position: relative;
  width: 100vw;
}

.top-container {
  position: fixed;
  width: 100%;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: var(--secondary-color);
  background-color: #fff1d1;
}
.logo-box {
  display: flex;
  align-items: center;
}
.logo {
  font-size: 8rem;
}
.logo-text {
  font-size: 4rem;
  margin-left: 1rem;
  color: black;
}

.menu-box {
  color: #333;
}
.menu-open {
  font-size: 7rem;
}
.menu-close {
  font-size: 6rem;
}

.nav-container {
  padding: 5rem 0;
  background-color: var(--secondary-color);

  position: absolute;
  width: 100%;
  left: 0;
  top: 17.5vh;
  z-index: 5;

  transition: all 0.5s ease-in;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: translateX(100%);
}
.nav-show {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
}
.nav-list {
  list-style: none;
  text-align: center;
}
.nav-listitem {
  display: inline-block;
  color: var(--font-color2);
  font-size: 4rem;
  margin-top: 2.5rem;
  text-decoration: none;
  border-bottom: 1px solid transparent;

  transition: 0.3s all ease-out;
}
.nav-listitem:hover {
  box-shadow: 0 5px 10px #ffc957;
  border-bottom: 1px solid #fff1d1;
}

/* ////////////////// */
/* SECTIONS */
main {
  position: absolute;
  top: 17.5vh;
  width: 100%;
  color: black;
}
section {
  background-image: linear-gradient(
    to right,
    var(--gradient-primary-color),
    var(--gradient-primary-color) 60%,
    var(--gradient-secondary-color)
  );
  min-height: 100vh;
  font-size: 8rem;
}
.s-1 {
  padding: 10rem 3rem;
  text-align: center;
}
.gradient-line {
  margin: auto;
  margin-top: 5rem;
  width: 60rem;
  height: 4rem;
  background-image: linear-gradient(
    to right,
    var(--gradient-secondary-color),
    var(--gradient-primary-color) 90%
  );
}
.s-2 {
  .img-container {
    img {
      width: 100%;
      height: 50vh;
    }
  }
  .content-container {
    height: 50vh;
    background-color: #ffc957;
    padding: 10% 3rem;
    .logo {
      font-size: 5rem;
    }
    .logo-text {
      font-size: 4rem;
    }
  }
}
