/*@import "./animation.css"; /*importing my animation file*/

:root {
  /* css variables */
  --primary-color: #ffc957;
  --secondary-color: #fff;
  --accent-color: green;
  --gradient-primary-color: var(--primary-color);
  --gradient-secondary-color: var(--secondary-color);
  --font-color1: #333;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  color: var(--font-color1);
  font-family: "Segoe UI", Tahoma, sans-serif;
}

/* Reusable Classes */
.hidden {
  display: none;
}
.overflowY-stop {
  overflow-y: hidden;
}
.heading-primary {
  font-size: 10rem;
}
.heading-secondary {
  font-size: 5rem;
}
.heading-tertiary {
  font-size: 3rem;
  font-weight: 500;
}

.grid-container {
  display: grid;
}
.grid--2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4 {
  grid-template-columns: repeat(4, 1fr);
}

/* //////////////////////// */
/* HEADER */
.header {
  position: fixed;
  z-index: 999;
  width: 100vw;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  padding: 1rem 2rem;
  background-color: #fff1d1;

  .logo-box {
  }
  .logo {
    font-size: 8rem;
    color: var(--primary-color);
  }
}

.open-box {
}
.menu-open {
  font-size: 7rem;
}
.menu-close {
  font-size: 6rem;
}
/* NAVBAR */
.nav-container {
  background-color: var(--primary-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  position: absolute; /*child of body*/
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 1000;

  transition: all 0.5s ease-in;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: translateX(100%);
}
.nav-show {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
}
.nav-list {
  list-style: none;
  text-align: center;
  width: 100%;
}
.nav-listitem {
  display: inline-block;
  color: var(--font-color2);
  font-size: 3.6rem;
  margin-top: 1.5rem;
  text-decoration: none;

  transition: 0.3s all ease-out;
}
.nav-listitem:hover {
  box-shadow: 0 5px 10px #ffc957;
  color: var(--secondary-color);
  transform: scale(1.1);
}
.close-box {
  text-align: right;
  padding-right: 2rem;

  position: absolute;
  top: 2.5%;
  right: 2.5%;
}

/* //////////////////////// */
/* SECTIONS */
main {
  position: absolute;
  left: 0;
  top: 11vh;
  width: 100vw;
}
section {
  min-height: 100vh;
  width: 100vw;
  border: 1px solid red;
}

/* **** */
.s-1 {
  padding: 10rem 3rem;
  text-align: center;
  background-image: linear-gradient(
    to right,
    var(--gradient-secondary-color) 40%,
    var(--gradient-primary-color)
  );

  .side-heading {
    font-size: 5rem;
    text-align: left;
    margin: 2rem 0;
  }
}

.gradient-line {
  margin: auto;
  margin-top: 5rem;
  max-width: 60rem;
  height: 4rem;
  background-image: linear-gradient(
    to right,
    var(--gradient-primary-color),
    var(--gradient-secondary-color)
  );
}

.s-2 {
  background-color: var(--primary-color);
  .img-container {
    width: 100%;
    height: 60vh;
    background: blue;
    img {
      width: 100%;
      height: 100%;
    }
  }
  h2 {
    text-align: center;
    margin-top: 10rem;
  }
}

.s-3 {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right,
    var(--gradient-primary-color),
    var(--gradient-secondary-color),
    var(--gradient-secondary-color),
    var(--gradient-secondary-color)
  );
  .content-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    .img-box {
      background-color: blue;
      height: 50rem;
      width: 50rem;
      .s3-img {
        height: 100%;
      }
    }
    .content-box {
      width: 50%;
      .title {
      }
      .side-heading {
        font-size: 3.2rem;
        margin-top: 3rem;
      }
      .side-description {
        font-size: 2.6rem;
        font-weight: 500;
        margin-top: 3rem;
      }
    }
  }
}

.s-4 {
  padding: 5rem 0;
  .imgbox {
    height: 50vh;
    width: 100%;
    background-color: blue;
    .img {
      height: 100%;
      width: 100%;
    }
  }
  .content-container {
    min-height: 50vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    .title-box,
    .content-box {
      width: 50%;
    }
    .title {
      text-align: center;
    }
    .side-heading {
      margin-top: 1rem;
      font-size: 2rem;
      font-weight: 700;
    }
    .side-description {
      margin-top: 2.5rem;
      font-size: 1.8rem;
      font-weight: 500;
    }
  }
}

.s-5 {
  .top-container {
    padding: 5rem;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    .leftpart {
      width: 40%;
      .s-5-logo {
      }
    }
    .rightpart {
      width: 60%;
      .description {
        margin-top: 2rem;
        font-size: 2.4rem;
      }
    }
  }
  .bottom-container {
    padding: 10rem 5rem;
    gap: 2.5rem;

    .card {
      max-width: 35rem;
      padding: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid grey;
      box-shadow: 0 1px 15px grey;
      flex-wrap: wrap;

      .card__image {
        width: 5rem;
      }
      .card__title {
        font-size: 2.4rem;
        margin-top: 2.5rem;
      }
      .card__description {
        font-size: 2.4rem;
        margin-top: 1.5rem;
        font-weight: 400;
      }
    }
  }
}

.s-6 {
  background-image: linear-gradient(
    to right,
    var(--gradient-primary-color) 0 5%,
    var(--gradient-secondary-color) 5% 70%,
    var(--gradient-primary-color) 70% 100%
  );
  display: flex;
  flex-wrap: wrap;

  .container1 {
    max-width: 70%;
    padding: 10rem;
    text-align: center;
    h3 {
      margin-top: 1rem;
      font-weight: 400;
    }
    .cards {
      padding: 10rem 0;
      column-gap: 5rem;
      .card {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        .card__image {
          width: 8rem;
          margin: 0 auto;
        }
        .card__title {
          font-size: 2.4rem;
          margin-top: 3rem;
        }
        .card__description {
          font-size: 2rem;
          margin-top: 2.5rem;
        }
      }
    }
  }
  .container2 {
    max-width: 30%;
    align-self: center;
    padding: 1rem 2rem;
    .description1 {
      color: var(--secondary-color);
      font-size: 2.6rem;
    }
    .description2 {
      color: var(--font-color2);
      font-size: 2.4rem;
      margin-top: 6rem;
    }
  }
}

.s-7 {
  background-image: linear-gradient(
    to right,
    var(--gradient-primary-color) 0 5%,
    var(--gradient-secondary-color) 5% 100%
  );
  padding: 5rem 0;
  h3 {
    text-align: center;
    font-weight: 500;
  }

  .content-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5rem;

    .container1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 5rem;
      width: 40%;
      h3 {
        text-align: left;
        font-size: 7rem;
        font-weight: 700;
      }
      h4 {
        font-size: 4rem;
        font-weight: 600;
        margin-top: 5rem;
      }
      p {
        font-size: 3rem;
        margin-top: 4rem;
        font-weight: 400;
      }
    }
    .container2 {
      background-color: blue;
      width: 50%;
      height: 50rem;
      .s7-img {
        height: 100%;
        width: 100%;
      }
    }
  }
}

.s-8 {
  background-image: linear-gradient(
    to right,
    var(--gradient-primary-color) 0 5%,
    var(--gradient-secondary-color) 5% 100%
  );
  .content-container {
    margin: 0 auto;
    padding: 5rem;
    width: 80%;
    .container1 {
      h3 {
        margin-top: 2rem;
      }
      p {
        font-size: 2.6rem;
        margin-top: 2rem;
      }
    }
    .container2 {
      padding: 5rem 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 6rem;
      .card {
        .img-holder {
          height: 170px;
          max-width: 320px;
          border: 1px solid black;
          display: flex;
          justify-content: center;
          align-items: center;

          .logo {
            width: 80px;
            height: 80px;
          }
        }
        p {
          font-size: 1.8rem;
          margin-top: 2rem;
          text-align: center;
        }
      }
    }
  }
}

.s-9 {
  background-image: linear-gradient(
    to right,
    var(--gradient-primary-color) 0 5%,
    var(--gradient-secondary-color) 5% 100%
  );
  padding: 5rem;
  .content-container {
    margin: 0 auto;
    width: 80%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .container1 {
      h3 {
        margin-top: 2rem;
      }
      .gradient-line {
        margin: 4rem 0;
      }
    }
    .container2 {
      column-gap: 5rem;
      .each-box {
        background: blue;
        .position-image {
          height: 30rem;
          width: 30rem;
        }
        .position-text {
          text-align: center;
          font-size: 2.2rem;
          margin-top: 4rem;
        }
      }
    }
  }
}

.s-10 {
  background-image: linear-gradient(
    to right,
    var(--gradient-secondary-color) 0% 95%,
    var(--gradient-primary-color) 95% 100%
  );
  padding: 10rem;
  .content-container {
    column-gap: 10rem;
    .container1 {
      h3 {
        margin-top: 2rem;
      }
      .gradient-line {
        margin: 2rem 0;
      }
      h4 {
        font-size: 2.4rem;
        margin-top: 6rem;
      }
      p {
        font-size: 2rem;
        margin-top: 1rem;
      }
    }
    .container2 {
      background: blue;
      .table-image {
      }
    }
  }
}

.s-11 {
  background-image: linear-gradient(
    to right,
    var(--gradient-primary-color) 0 5%,
    var(--gradient-secondary-color) 5% 100%
  );
  padding: 10rem;
  .content-container {
    column-gap: 10rem;
    .container1 {
      background: blue;
    }
    .container2 {
      h3 {
        margin-top: 2rem;
      }
      .gradient-line {
        margin: 2rem 0;
      }
      h4 {
        font-size: 2.4rem;
        margin-top: 6rem;
      }
      p {
        font-size: 2rem;
        margin-top: 1rem;
      }
    }
  }
}

.s-12,
.s-13 {
  background-image: linear-gradient(
    to right,
    var(--gradient-secondary-color) 0% 95%,
    var(--gradient-primary-color) 95% 100%
  );
  padding: 10rem 20rem;
  .content-container {
    .gradient-line {
      margin: 4rem 0;
    }
    p {
      font-size: 2rem;
      margin-top: 2rem;
    }
    .heading-pair {
      margin-top: 10rem;
    }
  }
}

.s-13 {
  /* background-image: linear-gradient(
    to right,
    var(--gradient-primary-color) 0 5%,
    var(--gradient-secondary-color) 5% 100%
  ); */
  background: linear-gradient(90deg, orange 0%, red, darkorchid 100%);
}
